@model CTS_System6.Models.ApplicationUser

<img class="avatar rounded-circle" alt="profile" src="data:image/*;base64,@(Convert.ToBase64String(Model.ProfilePictuer))" />
<div>
    <label>@Model.FirstName @Model.LastName</label>
    <label>@Model.UserName</label>
</div>
