@page
@model CTS_System6.Areas.Identity.Pages.Account.WaitingActivisionModel
@{
    ViewData["Title"] = "Checking validity";

}

<label>Regestration completed, wating admins to confirm your account!!</label>
