    @*@model TranslatorLanguageVM*@


    <!--<div>
        <form method="post" asp-action="Create">
            <div class="row mb-3">
                <div class="col-md-5">-->
                    @*<select class="form-select" asp-for="FromLanguageId" asp-items="new SelectList(Model.LanguagesList)">
                        <option selected>From Language</option>
                    </select>*@
                    <!--<input asp-for="FromLanguageId" />
                </div>
                <div class="col-md-5">-->
                    @*<select class="form-select" asp-for="ToLanguageId" asp-items="new SelectList(Model.LanguagesList)">
                        <option selected>To Language</option>
                    </select>*@
                    <!--<input asp-for="ToLanguageId" />
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>-->
            @*<span asp-validation-for="Name" class="text-danger"></span>*@
        <!--</form>
    </div>-->

    @*<div>
        @foreach(var item in Model.LanguagesList)
                {
                    <h1>@item.Name</h1>
                }

    </div>*@