@model CTS_System6.ViewModels.TranslatorLanguageVM

@{
    ViewData["Title"] = "Add";
}


<section>
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Add Languages</h2>
        </div>

        <div class="card">
            <div class="card-body">
                <form asp-action="Create" method="post">
                    <div class="row mb-3 align-items-top">
                        <div class="col-lg-5">
                            <select class="form-select custom-select" asp-for="FromLanguageId" asp-items="ViewBag.Lan">
                                <option selected>From Language</option>
                            </select>
                        </div>
                        <div class="col-lg-5">
                            <select class="form-select custom-select" asp-for="ToLanguageId" asp-items="ViewBag.Lan">
                                <option selected>To Language</option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <button type="submit" class="btn btn-primary">Add</button>
                            <a asp-action="Index" class="btn btn-secondary">Back</a>
                        </div>
                    </div>
                    <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert" asp-validation-summary="ModelOnly">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
