@model CTS_System6.Models.Languages

@{
    ViewData["Title"] = "Delete";
}


<section>
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Delete Language</h2>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    @Html.DisplayFor(model => model.Name)
                </h5>
                <form asp-action="Delete">
                    <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert" asp-validation-summary="ModelOnly">
                    </div>
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a class="card-link" asp-action="Index">Back</a>
                </form>
            </div>
        </div>

    </div>

</section>