@model IEnumerable<CTS_System6.Models.Languages>

@{
    ViewData["Title"] = "Languages";
}



<section>
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Manage Languages</h2>
        </div>
        <div class="m-2">
            <a class="btn btn-primary" asp-action="Create" asp-controller="Languages"><i class="bx bx-add-to-queue"></i> Add Language</a>
        </div>
        <div class="row align-items-top">
            @foreach (var item in Model)
            {
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                            <a asp-action="Edit" asp-controller="Languages" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                            <a asp-action="Delete" asp-controller="Languages" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
             }
        </div>
    </div>
</section>

